<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am a final year CS student from India. I have worked with technologies like
robotics, simulations, computer vision, deep learning and web development, and
I am still learning. I am overwhelmed by the vastness of computer science and
how it can be coalesced with other subjects like math, physics, biology, sociology
etc to facilitate and drive research. I am pretty excited about open source
technology. Ever since I have started developing and working on projects, almost
all of the code that I have seen, learned from, referred to, documented and
implemented has been open-sourced. It is because of open-sourced code that I
have been able to understand how software systems are developed, how ideas
are brought to code, how projects are structured, how issues are raised, solved
and how collaborations happen. It has shaped my perception of how work and
experience should always be shared so that we, as a society can grow and excel
together and it is technology that wins in the end. This core ideology has always
inspired me.
</div>