---
layout: default
---

<a style="border-radius:50%;" class="btn" href= "{{ site.url }}/" >
  <i style="font-size:30px;font-weight: bold" class="fa fa-angle-left"></i>
</a>
{% if page.image.feature %}
<div class="post-image-feature" style="text-align: center;">
  <img class="feature-image" src=
  {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
  "{{ page.image.feature }}"
  {% else %}
  "{{ site.url }}/img/{{ page.image.feature }}"
  {% endif %}
  alt="{{ page.title | escape }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Credits: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}

<div>
<div style="margin: 15 auto" id="post">
  <header class="post-header">
    <h1 style="margin-bottom: 0px" title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" | upcase }}
      </span>
      &nbsp•&nbsp
      {% include read_time.html %}
    </span>

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}
</div>